@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --tinted-white: #EFF6FF;
    --secondary: #0EA5E9;
    --card-accent: #e9520e;
    --card-text: #767676;
}

* {
    margin:0;
    padding:0;
}

body {
    height: 100vh;
    display:grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr 5fr;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.3rem;
}

h5 {
    font-size: .9rem;
    line-height: 1.5rem;
}

h6 {
    font-size: .8rem;
}

.trending h6 {
    font-weight: normal;
    line-height: 1.25rem;
}

p {
    font-size: .8rem;
}

.announcements p {
    font-size: .7rem;
}

ul {
    list-style: none;
}

.nav {
    background-color: var(--secondary);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: #FFFFFF;
}

.nav h1,
.nav li {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.nav h1 {
    gap: 13px;
    padding: 20px calc(10% - 5px);
}

.nav ul {
    margin: 2rem 0px;
}

.nav li {
    gap: 20px;
    padding: 0.5rem 10%;
}

.header {
    grid-column: 2 / 3;
    padding: 1rem 2rem;
    display: grid;
    gap: 15px;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, .4);
    margin-bottom: 7px;
}

.header .search,
.header .profile,
.header .greeting,
.header .buttons,
.trending .user {
    display:flex;
    align-items: center;
    gap: 20px;
}

.header .search input,
.header .buttons button {
    flex: 1;
    border:none;
    border-radius: 2rem;
    padding: 0.25rem 1rem;
}

.header .search input {
    background-color: var(--tinted-white);
    padding: 0.25rem 1rem;
}

.header .profile {
    justify-content: flex-end;
}

.header .profile h3 {
    font-size: 1rem;
}

.header .greeting span {
    line-height: 1.5rem;
}

.header .buttons {
    justify-content: flex-end;
    gap: 25px;
    width: 100%;
}

.header .buttons button {
    background-color: var(--secondary);
    font-weight:bold;
    color: white;
    max-width: 100px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
}

.icon {
    width:auto;
    border-radius:2rem;
}

.greeting .icon {
    height: 4rem;
}

.profile .icon,
.user .icon {
    height: 2.5rem;
}

.main {
    background-color: var(--tinted-white);
    padding: 33px 25px 40px;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.projects,
.announcements,
.trending {
    display:grid;
    grid-template-rows: 2rem 1fr;
}

.projects {
    grid-row: 1 / 3;
}

.projects ul {
    display:grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, .5);
}

.card p {
    color: var(--card-text);
}

ul .card-button {
    display:flex;
    justify-content: flex-end;
    gap: 7px;
    margin-top: auto;
}

.projects .card {
    border-left: 0.5rem solid var(--card-accent);
}

.announcements ul,
.trending ul {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.announcements li {
    margin: .75rem 0px;
}

.trending li {
    margin: 1rem 10%;
}